html, body{
	height: 80%;
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
}


/* ta dando alguma coisa erra que os checkboxes nao ficam no centro da tela*/
main{
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}