html, body{
	height: 80%;
	margin: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
}

h1 {
	font-size: 2rem;
}

/* ta dando alguma coisa erra que os checkboxes nao ficam no centro da tela*/
main{
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}