html, body, main{
	height: 100%;
	margin: 0;
}

iframe{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-self: center;
    height:85%;
    width: 100%;
}

.text{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-content: center;
    margin: .5rem;
    padding: .5rem;
}