header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    padding: 0.5rem;
}
img {
    width:50%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
}
.options {
    border: 0.1rem solid black;
    padding: 0.5rem;
    margin: 1rem;
}
