body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #78E6FF;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0.5rem
}

h1 {
    font-size: 2rem;
    padding: 0.5rem;
}
img {
    width:80%;
    border: 0.5rem solid black
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
}
.options {
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: #8CFFD1 ;
}
