html, body{
	height: 100%;
    margin: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

main{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header{
    font-size: 2rem;
}