html, body, main{
	height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#78E6FF;
}

iframe{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-self: center;
    height:90%;
    width: 100%;
}

p{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-self: center;
}

a {
    background-color:#8CFFD1
}
.onde, .avalia {
    border: 0.1rem solid black;
    margin: 1rem;
    padding: 1rem;
}

.onde {
    flex-grow: 0.05;
}