html, body{
	height: 100%;
    margin: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#78E6FF
}

h1{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    width:100%;
    font-size: 2rem;
    margin-top:1rem;
}

main{
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

h2{
    font-size: 1.3rem;
}

